<div id="miniSidebar">
  <div class="brand-logo">
    <a class="d-none d-md-flex align-items-center gap-2" href="@@webRoot/index.html">
      <img src="@@webRoot/assets/images/brand/logo/logo-icon.svg" alt="Numotamo" width="30px"/>
      <span class="fw-bold fs-4 site-logo-text" style="color:#fd3603;">Dashboard</span>
    </a>
  </div>
  <ul class="navbar-nav flex-column  ">

    <li class="nav-item">
      <div class="nav-heading">Сторінки</div>
      <hr class="mx-5 nav-line mb-1" />
    </li>
    <!-- Nav item -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="nav-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-file">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M14 3v4a1 1 0 0 0 1 1h4" />
            <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
          </svg>
        </span>
        <span class="text">Сторінки</span>
      </a>
      <ul class="dropdown-menu flex-column">



        <li class="nav-item">
          <a class="nav-link" href="@@webRoot/pages/error/maintenance.html">Maintenance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@@webRoot/pages/error/404-error.html">404 Error</a>
        </li>
      </ul>
    </li>
    <!-- Nav item -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="nav-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-lock">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z" />
            <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" />
            <path d="M8 11v-4a4 4 0 1 1 8 0v4" />
          </svg>
        </span>
        <span class="text">Аутентифікація</span>
      </a>
      <ul class="dropdown-menu flex-column">
        <li class="nav-item">
          <a class="nav-link" href="@@webRoot/pages/authentication/sign-in.html">Вхід</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@@webRoot/pages/authentication/sign-up.html">Реєстрація</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@@webRoot/pages/authentication/forget-password.html">Forget Password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@@webRoot/pages/authentication/reset-password.html">Reset Password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@@webRoot/pages/authentication/otp-varification.html">Otp верифікація </a>
        </li>
      </ul>
    </li>

  </ul>

</div>


<div class="offcanvasNav offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">

    <a class="d-flex align-items-center gap-2" href="@@webRoot/index.html">
      <img src="@@webRoot/assets/images/brand/logo/logo-icon.svg" alt="numotamo logo" width="30px" />
      <span class="fw-bold fs-4 site-logo-text" style="color:#fd3603;">Dashboard</span>
    </a>

    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-0">
    <ul class="navbar-nav flex-column  ">
      <!-- Nav item -->
      

      <li class="nav-item">
        <div class="nav-heading">Сторінки</div>
        <hr class="mx-5 nav-line mb-1" />
      </li>
      <!-- Nav item -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="nav-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-file">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M14 3v4a1 1 0 0 0 1 1h4" />
              <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
            </svg>
          </span>
          <span class="text">Сторінки</span>
        </a>
        <ul class="dropdown-menu flex-column">



          <li class="nav-item">
            <a class="nav-link" href="@@webRoot/pages/error/maintenance.html">Maintenance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="@@webRoot/pages/error/404-error.html">404 Error</a>
          </li>
        </ul>
      </li>
      <!-- Nav item -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="nav-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-lock">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z" />
              <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" />
              <path d="M8 11v-4a4 4 0 1 1 8 0v4" />
            </svg>
          </span>
          <span class="text">Authentication</span>
        </a>
        <ul class="dropdown-menu flex-column">
          <li class="nav-item">
            <a class="nav-link" href="@@webRoot/pages/authentication/sign-in.html">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="@@webRoot/pages/authentication/sign-up.html">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="@@webRoot/pages/authentication/forget-password.html">Forget Password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="@@webRoot/pages/authentication/reset-password.html">Reset Password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="@@webRoot/pages/authentication/otp-varification.html">Otp Varification </a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</div>